# 1) Write a python program to display all the header tags from wikipedia.org.

In [1]:
from bs4 import BeautifulSoup
import requests

In [26]:
def scraping(x):
# empty list to hold the header tags 
    h1=[]
    h2=[]
    h3=[]
# requesting the page

    wikipedia = requests.get(x)
    soup=BeautifulSoup(wikipedia.content)

# list for the header tags
    L=['h1', 'h2','h3']
    for j in L:
    
        for i in soup.find_all(j):
            
# To scrap the data according to the header tag

            if(j == 'h1'):
                h1.append(i.text)
            if(j == 'h2'):
                h2.append(i.text)
            if(j == 'h3'):
                h3.append(i.text)
    
    return ("Heading h1",h1," Heading h2",h2," Heading h3",h3)
# return the asked values

In [27]:
# url: https://en.wikipedia.org/wiki/Main_Page
scraping(input("Enter the URL\n",))

Enter the URL
https://en.wikipedia.org/wiki/Main_Page

('Heading h1',
 ['Main Page', 'Welcome to Wikipedia'],
 ' Heading h2',
 ["From today's featured article",
  'Did you know\xa0...',
  'In the news',
  'On this day',
  "From today's featured list",
  "Today's featured picture",
  'Other areas of Wikipedia',
  "Wikipedia's sister projects",
  'Wikipedia languages',
  'Navigation menu'],
 ' Heading h3',
 ['\nSearch\n'])

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [29]:
def IMDB(x):
#      request the url
    im= requests.get(x)
    
#     scrap all content
    Content=BeautifulSoup(im.content)
    
#     empty list to store values
    Movie=[]
    Year=[]
    Rating=[]
    Rank=[]
    
#     scraping data 
    for i in Content.find_all('td',class_="titleColumn"):
        Movie.append(i.text.replace("\n", "")[14:-6])

    
    for i in Content.find_all('span',class_="secondaryInfo"):
        Year.append(i.text)
    
    
    for i in Content.find_all('td',class_="ratingColumn imdbRating"):
        Rating.append(i.text.replace("\n", ""))
        
    
    for i in range(1,len(Movie)+1):
        Rank.append(i)
        
#     importing library
    import pandas as pd
    
#     creating dataframe
    data=pd.DataFrame({"Ranking":Rank,"Movie":Movie,'Year':Year,'Ratings':Rating,})
    
    data.set_index('Ranking',inplace =True)
    
    data=data[0:100]
    
#     store the data
    data.to_csv('imdb.csv')                         
    
#   display the data scraped
    return data                                     \

In [9]:
## url: https://www.imdb.com/chart/top/?ref_=nv_mv_250
IMDB(input("Enter the URL\n",))

Enter the URL
https://www.imdb.com/chart/top/?ref_=nv_mv_250

                                      Movie    Year Ratings
Ranking
1                  The Shawshank Redemption  (1994)     9.2
2                             The Godfather  (1972)     9.2
3                           The Dark Knight  (2008)     9.0
4                    The Godfather: Part II  (1974)     9.0
5                              12 Angry Men  (1957)     8.9
...                                     ...     ...     ...
96                       Lawrence of Arabia  (1962)     8.3
97                                   Jagten  (2012)     8.3
98        M - Eine Stadt sucht einen Mörder  (1931)     8.3
99                       North by Northwest  (1959)     8.3
100                                 Vertigo  (1958)     8.2

[100 rows x 3 columns]

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [11]:
def Bollywood(z):
    # requesting the url
    Indian_IMBD= requests.get(z)
    
#     scraping the page content
    Content=BeautifulSoup(Indian_IMBD.content)
    
#     empty list to store data
    film=[]
    Movies=[]
    Year=[]
    Rating=[]
    Rank=[]
    
#     scrapping the neede portion

    for i in Content.find_all('div',class_="lister-item-content"):
        film.append(i.text[5::])
    for j in range(100):
        film[j]=film[j].split("\n")

    l=[29,41,44,53,56,58,66,70,73,77,83,86,92,95,96]
    for k in range(0,100):
        if(k<=8):
            Movies.append(film[k][0])
            Year.append(film[k][1])
            Rating.append(film[k][20])
        elif(k in l):
            Movies.append(film[k][1])
            Year.append(film[k][2])
            Rating.append(film[k][19])
        else:
            Movies.append(film[k][1])
            Year.append(film[k][2])
            Rating.append(film[k][21])
        
    
    for i in range(1,len(Movies)+1):
        Rank.append(i)

#         importing libraray
    import pandas as pd
    
#     creating dataframe
    Bollywood=pd.DataFrame({"Ranking":Rank,"Movie":Movies,'Year':Year,'Ratings':Rating,})
    
    Bollywood.set_index('Ranking',inplace =True)
    
#     storing data in csv
    Bollywood.to_csv('imdb.csv')
    
# display the data
    return Bollywood

In [12]:
## url:https://www.imdb.com/list/ls056092300/?sort=user_rating,desc&st_dt=&mode=detail&page=1
Bollywood(input("Enter the URL\n",))

Enter the URL
https://www.imdb.com/list/ls056092300/?sort=user_rating,desc&st_dt=&mode=detail&page=1

                         Movie    Year Ratings
Ranking
1              Sagara Sangamam  (1983)     8.8
2        Goopy Gyne Bagha Byne  (1969)     8.7
3                      Nayakan  (1987)     8.6
4              Pushpaka Vimana  (1987)     8.6
5                  Apur Sansar  (1959)     8.5
...                        ...     ...     ...
96                      Vanaja  (2006)     7.1
97                 Amma Ariyan  (1986)     7.1
98                    Enthiran  (2010)       7
99                     Chandni  (1989)     6.7
100               Neecha Nagar  (1946)     6.7

[100 rows x 3 columns]

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
# from https://presidentofindia.nic.in/former-presidents.htm

In [14]:
def President(xyz):
#     requesting the page
    former_president= requests.get(xyz)
    
# content of page scrapped
    Content=BeautifulSoup(former_president.content)
    Information=[]
    president=[]
    Term=[]
    rank=[]
    
# fetching the asked information
    for i in Content.find_all('div',class_="presidentListing"):
        Information.append(i.text.split("\n"))

    for i in range(len(Information)):
        president.append(Information[i][1])
        Term.append(Information[i][2])
    
    for i in range(len(president)):
        president[i]=president[i].split("(")
        president[i]=president[i][0]
    
    for i in range(len(Term)):
        Term[i]=Term[i].split(":")
        Term[i]=Term[i][1]
    
    
    for i in range(1,len(president)+1):
        rank.append(i)

    import pandas as pd
    
#     craeting the dataframe
    DATA=pd.DataFrame({"S.No":rank,"Former President":president,"Term of Office": Term})
    
    DATA.set_index('S.No',inplace =True)
    
#     storing the data
    DATA.to_csv('President.csv')
    
#     display the data
    return DATA

In [15]:
#url: https://presidentofindia.nic.in/former-presidents.htm
President(input("Enter the URL\n",))

Enter the URL
https://presidentofindia.nic.in/former-presidents.htm

,Former President,Term of Office
S.No,,
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [16]:
def odi_team(x):
    
#     requesting the url
    Crick= requests.get(x)
#     scraping the content
    Cricket=BeautifulSoup(Crick.content)

#     empty list to store data
    team=[]
    rating=[]
    match=[]
    points=[]
    ranking=[]
    container=[]
    
#     fetch the required data
    for i in Cricket.find_all('span',class_="u-hide-phablet"):
        team.append(i.text)

    for i in Cricket.find_all('td',class_="rankings-block__banner--rating u-text-right"):
        rating.append(i.text.split("\n"))

    for i in Cricket.find_all('td',class_="table-body__cell u-text-right rating"):
        rating.append(i.text)

#         trim the white spaces 
    rating[0]=rating[0][1].strip()
    
    
    for i in Cricket.find_all('td',class_="rankings-block__banner--matches"):
        match.append(i.text)
        
    for i in Cricket.find_all('td',class_="rankings-block__banner--points"):
        points.append(i.text)
    
    
    for i in Cricket.find_all('td',class_="table-body__cell u-center-text"):
        container.append(i.text)
    
    for j in range(0,len(container)):
        l=list(range(1,30,2))
        if j in l:
            points.append(container[j])
        elif j not in l:
            match.append(container[j])

        
    for i in range(1,len(points)):
        ranking.append(i)

#   limiting the lists to 10 elements only
    ranking=ranking[0:10]
    team=team[0:10]
    match=match[0:10]
    points=points[0:10]
    rating=rating[0:10]
    
    
    import pandas as pd
    
#     create a dataframe
    DATA=pd.DataFrame({"S.No":ranking,"Team":team,"Matches":match,"Points": points,"Rating":rating})
    
    DATA.set_index('S.No',inplace =True)
    
#     store the data
    DATA.to_csv('odi_team.csv')
    
#     display the data
    return DATA

In [17]:
# url: https://www.icc-cricket.com/rankings/mens/team-rankings/odi
odi_team(input("Enter the URL\n",))

Enter the URL
https://www.icc-cricket.com/rankings/mens/team-rankings/odi

              Team Matches Points Rating
S.No
1      New Zealand      12  1,505    125
2          England      19  2,353    124
3        Australia      18  1,929    107
4            India      22  2,304    105
5         Pakistan      16  1,635    102
6     South Africa      19  1,872     99
7       Bangladesh      24  2,275     95
8        Sri Lanka      24  2,086     87
9      West Indies      26  1,885     73
10     Afghanistan      15    986     66

# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [18]:
def Batsmen(x):

#     requesting the url
    Cricket= requests.get(x)
#     scraping the content
    batsmen=BeautifulSoup(Cricket.content)

#     empty list for the data storing
    team=[]
    rating=[]
    player=[]
    ranking=[]
    
#     fetching the required data
    for i in batsmen.find_all('div',class_="rankings-block__banner--name-large"):
        player.append(i.text)
        
    for i in batsmen.find_all('td',class_="table-body__cell rankings-table__name name"):
        player.append(i.text.split('\n'))

    for i in range(1,len(player)):
        player[i]=player[i][1]
        
    for i in batsmen.find_all('div',class_="rankings-block__banner--nationality"):
        team.append(i.text.split('\n'))

    for i in batsmen.find_all('span',class_="table-body__logo-text"):
        team.append(i.text)
        
#      trimming white spaces
    team[0]=team[0][2].strip()
    
    for i in batsmen.find_all('div',class_="rankings-block__banner--rating"):
        rating.append(i.text)
    
    for i in batsmen.find_all('td',class_="table-body__cell rating"):
        rating.append(i.text)
    
        
    for i in range(1,11,1):
        ranking.append(i)
#   limiting the lists to 10 elements only
    team=team[0:10]
    player=player[0:10]
    rating=rating[0:10]
    
    import pandas as pd
#     creating a dataframe
    DATA=pd.DataFrame({"S.No":ranking,"Batsman":player,"Team":team,"Rating":rating})
    
    DATA.set_index('S.No',inplace =True)
    
#     storing data
    DATA.to_csv('Batsmen.csv')

#     display the data
    return DATA

In [20]:
#  url : https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting
Batsmen(input("Enter the URL\n",))

Enter the URL
https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting

                    Batsman Team Rating
S.No
1                Babar Azam  PAK    891
2               Virat Kohli  IND    811
3               Imam-ul-Haq  PAK    795
4              Rohit Sharma  IND    791
5           Quinton de Kock   SA    789
6            Jonny Bairstow  ENG    775
7               Ross Taylor   NZ    775
8     Rassie van der Dussen   SA    769
9              David Warner  AUS    750
10              Aaron Finch  AUS    745

# c) Top 10 ODI bowlers along with the records of their team and rating.

In [21]:
def Bowler(x):

#   requesting the url
    Cricket= requests.get(x)
#     page content scraped
    Bowler=BeautifulSoup(Cricket.content)

# empty list to store data
    team=[]
    rating=[]
    player=[]
    ranking=[]
    
#     fetching the required data
    for i in Bowler.find_all('div',class_="rankings-block__banner--name-large"):
        player.append(i.text)
        
    for i in Bowler.find_all('td',class_="table-body__cell rankings-table__name name"):
        player.append(i.text.split('\n'))

    for i in range(1,len(player)):
        player[i]=player[i][1]
        
    for i in Bowler.find_all('div',class_="rankings-block__banner--nationality"):
        team.append(i.text.split('\n'))

    for i in Bowler.find_all('span',class_="table-body__logo-text"):
        team.append(i.text)
#     trimming white spaces and taking only required element   
    team[0]=team[0][2].strip()
    
    for i in Bowler.find_all('div',class_="rankings-block__banner--rating"):
        rating.append(i.text)
    
    for i in Bowler.find_all('td',class_="table-body__cell rating"):
        rating.append(i.text)
    
        
    for i in range(1,11,1):
        ranking.append(i)
    
#   limiting the lists to 10 elements only
    team=team[0:10]
    player=player[0:10]
    rating=rating[0:10]
    
    import pandas as pd
#     creating the datframe
    DATA=pd.DataFrame({"S.No":ranking,"Bowler":player,"Team":team,"Rating":rating})
    
    DATA.set_index('S.No',inplace =True)
    
#     string the data
    DATA.to_csv('Bowler.csv')
    
#     display the data
    return DATA

In [22]:
# url: https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling
Bowler(input("Enter the URL\n",))

Enter the URL
https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling

                Bowler Team Rating
S.No
1          Trent Boult   NZ    726
2         Chris Woakes  ENG    700
3       Josh Hazlewood  AUS    698
4           Matt Henry   NZ    683
5     Mujeeb Ur Rahman  AFG    681
6       Jasprit Bumrah  IND    679
7       Shaheen Afridi  PAK    671
8         Mehedi Hasan  BAN    661
9      Shakib Al Hasan  BAN    657
10         Rashid Khan  AFG    650

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [23]:
def Women_crick(x):
    
#   requesting the url
    Cricket= requests.get(x)
#     page content scraped
    women=BeautifulSoup(Cricket.content)

# empty list to store data
    team=[]
    point=[]
    matches=[]
    rating=[]
    ranking=[]
    container=[]
    
#     fetching the required data
    for i in women.find_all('td',class_="rankings-block__banner--points"):
        point.append(i.text)
    
    for i in women.find_all('td',class_="rankings-block__banner--matches"):
        matches.append(i.text)
        

    for i in women.find_all('td',class_="table-body__cell u-center-text"):
        container.append(i.text)
        
    for k in container:
        m=container.index(k)
        l=[0,2,4,6,8,10,12,14,16,18,20]
        if(m in l):
            matches.append(k)
        else:
            point.append(k)
        
        
    for i in women.find_all('span',class_="u-hide-phablet"):
        team.append(i.text)
    

    
    for i in women.find_all('td',class_="rankings-block__banner--rating u-text-right"):
        rating.append(i.text.split('\n'))
    
#     trimming the white spaces
    rating[0]=rating[0][1].strip()
        
    for i in women.find_all('td',class_="table-body__cell u-text-right rating"):
        rating.append(i.text)
    
        
    for i in range(1,11,1):
        ranking.append(i)
    
#   limiting the lists to 10 elements only
    team=team[0:10]
    matches=matches[0:10]
    point=point[0:10]
    rating=rating[0:10]
    
    import pandas as pd
#     creating the datframe
    DATA=pd.DataFrame({"S.No":ranking,"Team":team,"Matches":matches,"Points":point,"Rating":rating})
    
    DATA.set_index('S.No',inplace =True)
    
#     storing the data
    DATA.to_csv('ODI_WOMEN_TEAM.csv')
    
#     display the data
    return DATA

In [24]:
# url : https://www.icc-cricket.com/rankings/womens/team-rankings/odi
Women_crick(input("Enter the URL\n",))

Enter the URL
https://www.icc-cricket.com/rankings/womens/team-rankings/odi

              Team Matches Points Rating
S.No
1        Australia      29  4,840    167
2     South Africa      28  3,504    125
3          England      30  3,533    118
4            India      29  2,878     99
5      New Zealand      31  3,030     98
6      West Indies      28  2,481     89
7       Bangladesh      12    936     78
8         Pakistan      26  1,752     67
9          Ireland       5    240     48
10       Sri Lanka       5    233     47

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [25]:
def Batswomen(x):
    
#   requesting the url
    Cricket= requests.get(x)
#     page content scraped
    batswomen=BeautifulSoup(Cricket.content)
    
# empty list to store data
    team=[]
    player=[]
    rating=[]
    ranking=[]
    
#     fetching the required data

    for i in batswomen.find_all('div',class_="rankings-block__banner--name-large"):
        player.append(i.text)
    for i in batswomen.find_all('td',class_="table-body__cell rankings-table__name name"):
        player.append(i.text.split('\n'))

    for i in range(1,len(player)):
        player[i]=player[i][1]
        
    for i in batswomen.find_all('div',class_="rankings-block__banner--nationality"):
        team.append(i.text.split('\n'))
#     indexing the required element    
    team[0]=team[0][2]
    
    for i in batswomen.find_all('span',class_="table-body__logo-text"):
        team.append(i.text)

    for i in batswomen.find_all('div',class_="rankings-block__banner--rating"):
        rating.append(i.text)
    for i in batswomen.find_all('td',class_="table-body__cell rating"):
        rating.append(i.text)
    
        
    for i in range(1,11,1):
        ranking.append(i)

#   limiting the lists to 10 elements only
    team=team[0:10]
    player=player[0:10]
    rating=rating[0:10]
    
    import pandas as pd
#     creatting the dataframe
    DATA=pd.DataFrame({"S.No":ranking,"Team":team,"Player":player,"Rating":rating})
    
    DATA.set_index('S.No',inplace =True)
    
#     storing the data
    DATA.to_csv('Bats_Women.csv')
    
#     display the data
    return DATA

In [26]:
# url: https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting
Batswomen(input("Enter the URL\n",))

Enter the URL
https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting

     Team             Player Rating
S.No
1     AUS       Alyssa Healy    785
2     ENG     Natalie Sciver    750
3     AUS        Beth Mooney    748
4      SA    Laura Wolvaardt    722
5     AUS        Meg Lanning    710
6     AUS     Rachael Haynes    701
7     IND        Mithali Raj    686
8      NZ  Amy Satterthwaite    681
9     IND    Smriti Mandhana    669
10    ENG     Tammy Beaumont    659

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [27]:
def Women_allrounder(x):

#   requesting the url
    Cricket= requests.get(x)
#     page content scraped
    allrounder=BeautifulSoup(Cricket.content)
    
# empty list to store data
    team=[]
    player=[]
    rating=[]
    ranking=[]
    
#     fetching the required data

    for i in allrounder.find_all('div',class_="rankings-block__banner--name-large"):
        player.append(i.text)
    for i in allrounder.find_all('td',class_="table-body__cell rankings-table__name name"):
        player.append(i.text.split('\n'))

    for i in range(1,len(player)):
        player[i]=player[i][1]
        
    for i in allrounder.find_all('div',class_="rankings-block__banner--nationality"):
        team.append(i.text.split('\n'))
#     index the required element    
    team[0]=team[0][2]
    
    for i in allrounder.find_all('span',class_="table-body__logo-text"):
        team.append(i.text)

    for i in allrounder.find_all('div',class_="rankings-block__banner--rating"):
        rating.append(i.text)
    for i in allrounder.find_all('td',class_="table-body__cell rating"):
        rating.append(i.text)
    
        
    for i in range(1,11,1):
        ranking.append(i)
    
#   limiting the lists to 10 elements only
    team=team[0:10]
    player=player[0:10]
    rating=rating[0:10]
    
    import pandas as pd
#     creating the dataframe
    DATA=pd.DataFrame({"S.No":ranking,"Team":team,"Player":player,"Rating":rating})
    
    DATA.set_index('S.No',inplace =True)
#     storing the data
    DATA.to_csv('All rounder Women.csv')
    
#     display the data
    return DATA

In [28]:
#url: https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder
Women_allrounder(input("Enter the url\n",))

Enter the url
https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder

     Team            Player Rating
S.No
1     ENG    Natalie Sciver    393
2     AUS      Ellyse Perry    374
3      SA    Marizanne Kapp    359
4      WI   Hayley Matthews    338
5      NZ       Amelia Kerr    335
6     AUS  Ashleigh Gardner    269
7     IND     Deepti Sharma    249
8     AUS     Jess Jonassen    245
9     ENG   Katherine Brunt    221
10    IND    Jhulan Goswami    217

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
# i) Headline
# ii) Time
# iii) News Link

In [29]:
def Cnbc(x):

#   requesting the url
    news= requests.get(x)
#     page content scraped
    cnbc=BeautifulSoup(news.content)
    
# empty list to store data
    x=[]
    y=[]
    z=[]
    rank=[]
    
#     fetching the required data

    for i in cnbc.find_all('a',class_="LatestNews-headline"):
        x.append(i.text)
        
    for i in cnbc.find_all('time',class_="LatestNews-timestamp"):
        y.append(i.text)
        
    for link in cnbc.find_all('a',class_="LatestNews-headline"):
        if link.has_attr('href'):
            z.append(link.attrs['href'])
    for i in range(1,len(y)+1):
        rank.append(i)
    
    import pandas as pd
#     creating the dataframe
    DATA=pd.DataFrame({"S.No":rank,"new":x,"time":y,"link":z})
    
    DATA.set_index('S.No',inplace =True)
#     storing the data
    DATA.to_csv('CNBC.csv')

#     display the data
    return DATA

In [30]:
# url: https://www.cnbc.com/world/?region=world
Cnbc(input("ENTER THE URL\n",))

ENTER THE URL
https://www.cnbc.com/world/?region=world

,new,time,link
S.No,,,
1,"European stocks set to nudge higher, tracking ...",1 Hour Ago,https://www.cnbc.com/2022/05/30/europe-markets...
2,Top recruitment and tech execs give their tips...,2 Hours Ago,https://www.cnbc.com/2022/05/30/top-execs-give...
3,"Global recession? Not yet, economists say — bu...",2 Hours Ago,https://www.cnbc.com/2022/05/30/no-global-rece...
4,PropertyGuru CEO sees 'massive gap' between de...,2 Hours Ago,https://www.cnbc.com/2022/05/30/propertyguru-c...
5,"Beijing, Shanghai start to reopen as Covid cas...",3 Hours Ago,https://www.cnbc.com/2022/05/30/beijing-shangh...
6,Wall Street banks name global stocks and secto...,5 Hours Ago,https://www.cnbc.com/2022/05/30/buy-this-dip-w...
7,'We see a clear role for alternatives': Pros o...,5 Hours Ago,https://www.cnbc.com/2022/05/30/stocks-top-pro...
8,Japan's Nikkei jumps 2% as Asia-Pacific stocks...,7 Hours Ago,https://www.cnbc.com/2022/05/30/asia-markets-c...
9,"Republicans, Democrats spar over gun regulatio...",15 Hours Ago,https://www.cnbc.com/2022/05/29/republicans-de...
10,'Top Gun: Maverick' grosses $124 million – Tom...,16 Hours Ago,https://www.cnbc.com/2022/05/29/top-gun-maveri...
11,Flight cancellations ease after rocky start to...,16 Hours Ago,https://www.cnbc.com/2022/05/29/flight-cancell...
12,"'Secret’ to getting better at small talk, from...",17 Hours Ago,https://www.cnbc.com/2022/05/29/secret-to-gett...
13,Former Disney CEO Bob Iger takes stake in Aust...,18 Hours Ago,https://www.cnbc.com/2022/05/29/former-disney-...
14,Sean Connery's 'James Bond' Aston Martin could...,18 Hours Ago,https://www.cnbc.com/2022/05/29/sean-connerys-...
15,Netflix's fall has media investors questioning...,18 Hours Ago,https://www.cnbc.com/2022/05/29/netflix-and-ri...
16,Recession-fearing investors keep slashing the ...,18 Hours Ago,https://www.cnbc.com/2022/05/29/recession-fear...
17,Some investors got rich before a popular stabl...,18 Hours Ago,https://www.cnbc.com/2022/05/29/who-got-rich-b...
18,Your Social Security check might be taxed. Ho...,18 Hours Ago,https://www.cnbc.com/2022/05/29/-your-social-s...
19,Here are the top stock picks from UBS for the ...,20 Hours Ago,https://www.cnbc.com/2022/05/29/here-are-the-t...
20,Buy this ETF for exposure to the booming EV ma...,20 Hours Ago,https://www.cnbc.com/2022/05/29/buy-this-etf-f...
21,U.S. job market boosts some workers' prospects...,20 Hours Ago,https://www.cnbc.com/2022/05/29/us-job-market-...
22,Zelenskyy visits frontlines; Lithuania raises ...,24 Hours Ago,https://www.cnbc.com/2022/05/29/russia-ukraine...
23,Successful parents do these 3 things with thei...,"May 28, 2022",https://www.cnbc.com/2022/05/28/successful-par...
24,Now is the best time to book your summer vacat...,"May 28, 2022",https://www.cnbc.com/2022/05/28/now-is-the-bes...
25,President Joe Biden says young people need the...,"May 28, 2022",https://www.cnbc.com/2022/05/28/president-joe-...
26,These 'safe' stocks are analysts' favorites to...,"May 28, 2022",https://www.cnbc.com/2022/05/28/stocks-like-t-...
27,"Government lab in Idaho is researching fusion,...","May 28, 2022",https://www.cnbc.com/2022/05/28/idaho-national...
28,Choice between pre-tax and Roth 401(k) plans t...,"May 28, 2022",https://www.cnbc.com/2022/05/28/choice-between...
29,Start-up investors warn of dark days as boom t...,"May 28, 2022",https://www.cnbc.com/2022/05/28/start-up-inves...
30,This couple bought and renovated a mansion for...,"May 28, 2022",https://www.cnbc.com/2022/05/28/unlocked-look-...

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details :
# i) Paper Title
# ii) Authors
# iii) Published Date
# iv) Paper URL

In [31]:
def AI(x):

#   requesting the url
    article= requests.get(x)
#     page content scraped
    ai=BeautifulSoup(article.content)
    
# empty list to store data
    Date=[]
    author=[]
    name=[]
    z=[]
    rank=[]
    
#     fetching the required data

    for i in ai.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
        Date.append(i.text)
        
    for i in ai.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
        author.append(i.text)
        
    for i in ai.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
        name.append(i.text) 
    
    for link in ai.find_all('a',class_="sc-5smygv-0 nrDZj"):
        if link.has_attr('href'):
            z.append(link.attrs['href'])
    
    for k in range(1,len(name)+1):
        rank.append(k)
            
    import pandas as pd
#     creating the dataframe
    DATA=pd.DataFrame({"S.No":rank,"Published On":Date,"Title":name,"Authors":author,"link":z})
    
    DATA.set_index('S.No',inplace =True)
#     storing the data
    DATA.to_csv('AI_article.csv')

#     display the data
    return DATA

In [32]:
#url: https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
AI(input("ENTER THE URL\n",))

ENTER THE URL
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

,Published On,Title,Authors,link
S.No,,,,
1,October 2021,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",https://www.sciencedirect.com/science/article/...
2,October 2021,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",https://www.sciencedirect.com/science/article/...
3,October 2015,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",https://www.sciencedirect.com/science/article/...
4,August 1998,Creativity and artificial intelligence,"Boden, Margaret A.",https://www.sciencedirect.com/science/article/...
5,June 2017,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",https://www.sciencedirect.com/science/article/...
6,February 2019,Explanation in artificial intelligence: Insigh...,"Miller, Tim",https://www.sciencedirect.com/science/article/...
7,April 2021,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",https://www.sciencedirect.com/science/article/...
8,February 2015,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",https://www.sciencedirect.com/science/article/...
9,August 1999,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",https://www.sciencedirect.com/science/article/...
10,March 2020,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",https://www.sciencedirect.com/science/article/...
11,February 2021,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",https://www.sciencedirect.com/science/article/...
12,October 2007,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",https://www.sciencedirect.com/science/article/...
13,August 2016,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",https://www.sciencedirect.com/science/article/...
14,April 2021,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",https://www.sciencedirect.com/science/article/...
15,December 1997,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",https://www.sciencedirect.com/science/article/...
16,August 2021,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",https://www.sciencedirect.com/science/article/...
17,September 2021,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",https://www.sciencedirect.com/science/article/...
18,June 2021,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",https://www.sciencedirect.com/science/article/...
19,December 2016,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",https://www.sciencedirect.com/science/article/...
20,September 2021,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",https://www.sciencedirect.com/science/article/...
21,May 2021,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",https://www.sciencedirect.com/science/article/...
22,January 2014,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",https://www.sciencedirect.com/science/article/...
23,December 1997,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",https://www.sciencedirect.com/science/article/...
24,October 2021,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",https://www.sciencedirect.com/science/article/...
25,February 2010,"Quantum computation, quantum theory and AI","Ying, Mingsheng",https://www.sciencedirect.com/science/article/...

# 9) Write a python program to scrape mentioned details from https://www.dineout.co.in/delhi-restaurants/buffet-special :
# i) Restaurant name
# ii) Cuisine
# iii) Location
# iv) Ratings
# v) Image URL

In [33]:
def Dine_Out(x):

#   requesting the url
    Dine= requests.get(x)
#     page content scraped
    food=BeautifulSoup(Dine.content)
    
# empty list to store data
    cusine=[]
    name=[]
    location=[]
    rating=[]
    cost=[]
    z=[]
    rank=[]
    
#     fetching the required data

    for i in food.find_all('img',class_="no-img"):
        z.append(i['data-src'])
        
    for i in food.find_all('div',class_="restnt-loc ellipsis"):
        location.append(i.text)
        
    for i in food.find_all('a',class_="restnt-name ellipsis"):
        name.append(i.text) 
    
    for l in food.find_all('span',class_="double-line-ellipsis"):
        cusine.append(l.text.split("|"))
    
    for i in range(len(cusine)):
        cost.append(cusine[i][0])
        cusine[i]=cusine[i][1]
          
    for l in food.find_all('div',class_="restnt-rating rating-4"):
        rating.append(l.text)
            
  
    for k in range(1,len(name)+1):
        rank.append(k)
            
    import pandas as pd
#     creating the dataframe
    DATA=pd.DataFrame({"S.No":rank,"Retaurant":name,"Cusine":cusine,"Location":location,"Rating":rating,"Cost":cost,"image":z})
    
    DATA.set_index('S.No',inplace =True)
#     storing the data
    DATA.to_csv('Dine_Out.csv')

#     display the data
    return DATA

In [34]:
# url : https://www.dineout.co.in/delhi-restaurants/buffet-special
Dine_Out(input("ENTER THE URL\n",) )

ENTER THE URL
https://www.dineout.co.in/delhi-restaurants/buffet-special

,Retaurant,Cusine,Location,Rating,Cost,image
S.No,,,,,,
1,Castle Barbeque,"North Indian, Chinese","Connaught Place, Central Delhi",3.5,"₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
2,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,"₹ 1,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,"₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
4,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,"₹ 3,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
5,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,"₹ 1,700 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
6,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,"₹ 2,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
7,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,"₹ 1,800 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
8,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,"₹ 1,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
9,World Cafe,"North Indian, Italian","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,"₹ 2,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
10,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,"₹ 2,200 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
11,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6,₹ 800 for 2 (approx),https://im1.dineout.co.in/images/uploads/resta...
12,Barbeque 29,"North Indian, Mughlai, Desserts, Beverages","NIT, Faridabad",4.2,"₹ 1,500 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
13,Glasshouse,"European, Italian, Asian, Continental","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,"₹ 3,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from
# https://scholar.google.com/citations?view_op=top_venues&hl=en
# i) Rank
# ii) Publication
# iii) h5-index
# iv) h5-median

In [18]:
def publication(x):

#   requesting the url
    english= requests.get(x)
#     page content scraped
    scholar=BeautifulSoup(english.content)
    
# empty list to store data
    rank=[]
    publication=[]
    h5_index=[]
    h5_median=[]
    obj=[]

#     fetching the required data

    for i in scholar.find_all('td',class_="gsc_mvt_t"):
        publication.append(i.text)
        
    for i in scholar.find_all('td',class_="gsc_mvt_p"):
        rank.append(i.text)
        
    for i in scholar.find_all('a',class_="gs_ibl gsc_mp_anchor"):
        h5_index.append(i.text)
    
    for i in scholar.find_all('span',class_="gs_ibl gsc_mp_anchor"):
        h5_median.append(i.text)
    
    import pandas as pd
#     creating a dataframe
    DATA=pd.DataFrame({"S.No":rank,"Publication":publication,"H5-Index":h5_index,"H5-Median":h5_median})
    
    DATA.set_index('S.No',inplace =True)
    
#     storing the data
    DATA.to_csv('scholar.csv')
    
#     display the data
    return DATA

In [19]:
# url : https://scholar.google.com/citations?view_op=top_venues&hl=en
publication(input("ENTER THE URL\n",))

ENTER THE URL
https://scholar.google.com/citations?view_op=top_venues&hl=en

                                            Publication H5-Index H5-Median
S.No
1.                                               Nature      414       607
2.                  The New England Journal of Medicine      410       704
3.                                              Science      391       564
4.    IEEE/CVF Conference on Computer Vision and Pat...      356       583
5.                                           The Lancet      345       600
...                                                 ...      ...       ...
96.                             Frontiers in Immunology      134       177
97.                                               Small      134       173
98.                                   Nature Immunology      133       210
99.                                       JAMA Oncology      133       202
100.                               The Lancet Neurology      133       200

[100 rows x 3 columns]