In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [76]:
driver=webdriver.Chrome(r"F:\chromedriver.exe")

In [77]:
driver.get('https://www.naukri.com/')

In [78]:
search_feild_designation=driver.find_element_by_class_name("suggestor-input")
search_feild_designation.send_keys("Data Analyst")

In [79]:
search_feild_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div[1]/input')
search_feild_location.send_keys("Bangalore")

In [80]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [81]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [82]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [83]:
for i in titles_tag:
    title=i.text
    job_titles.append(title)

In [84]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [85]:
for i in company_tags:
    x=i.text
    company_names.append(x)

In [86]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [87]:
for i in experience:
    x=i.text
    experience_list.append(x)

In [88]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [89]:
for i in locations:
    x=i.text
    locations_list.append(x)

In [90]:

zipped = list(zip(job_titles[0:10],company_names[0:10],locations_list[0:10],experience_list[0:10]))
df = pd.DataFrame(zipped, columns=['Job Role', 'Company', 'Location','Experience'])
df.to_csv('jobs.csv')

Jobs=pd.read_csv("jobs.csv")

Jobs

,Unnamed: 0,Job Role,Company,Location,Experience
0,0,Business Data Analyst,NXP Semiconductors,Bangalore/Bengaluru,2-5 Yrs
1,1,EY GDS Data Analyst-Finland based project,EY,Bangalore/Bengaluru,0-1 Yrs
2,2,Business & Data Analyst - Alteryx (London),Imaginative Brains LLP,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",5-10 Yrs
3,3,Data Analyst - Data and Analytics,Intel,Bangalore/Bengaluru,3-6 Yrs
4,4,Senior Mis Data Analyst,Barbeque Nation,"Bangalore/Bengaluru(Sarjapur), Delhi / NCR, Mu...",5-8 Yrs
5,5,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,Remote,0-3 Yrs
6,6,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-7 Yrs
7,7,Senior Data Analyst,Walmart,Bangalore/Bengaluru,4-7 Yrs
8,8,"Data Analyst - Data Science, 3 To 5 Years",Rise Finconnect Private Limited,Bangalore/Bengaluru,2-6 Yrs
9,9,Data Analyst / Business Analyst,METRO Cash & Carry,Bangalore/Bengaluru,3-8 Yrs

In [91]:
driver.close()

In [ ]:
# next question

In [92]:
### Question 2

In [93]:
driver=webdriver.Chrome(r"F:\chromedriver.exe")

In [94]:
driver.get('https://www.naukri.com/')

In [95]:
search_feild_designation=driver.find_element_by_class_name("suggestor-input")
search_feild_designation.send_keys("Data Scientist")

In [96]:
search_feild_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div[1]/input')
search_feild_location.send_keys("Bangalore")

In [97]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [104]:
job=[]
company=[]
location=[]
experience=[]

In [105]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tag:
    title=i.text
    job.append(title)

In [106]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    x=i.text
    company.append(x)

In [107]:
experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in experience_tag:
    x=i.text
    experience.append(x)

In [108]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in locations:
    x=i.text
    location.append(x)

In [109]:
zipped = list(zip(job,company[0:10],location[0:10],experience[0:10]))
df = pd.DataFrame(zipped, columns=['Job Role', 'Company', 'Location','Experience'])
df.to_csv('jobs_datascience_banglore.csv')

Jobs=pd.read_csv("jobs_datascience_banglore.csv")

Jobs

,Unnamed: 0,Job Role,Company,Location,Experience
0,0,AI Technologist Vacancy,Wipro,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",6-11 Yrs
1,1,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",2-7 Yrs
2,2,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9 Yrs
3,3,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9 Yrs
4,4,Data Scientist,Genpact,Bangalore/Bengaluru,7-12 Yrs
5,5,Data Scientist,Genpact,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",5-8 Yrs
6,6,Data Scientist - Immediate Joiners,Bristlecone,"Noida, Mumbai, Pune, Bangalore/Bengaluru",5-8 Yrs
7,7,Data Scientist- AI/ML- R&D,EXL,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",2-6 Yrs
8,8,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",1-4 Yrs
9,9,Data Scientist,UPL,(WFH during Covid),2-7 Yrs

In [110]:
driver.close()

In [ ]:
# next question

In [111]:
### question 3

In [112]:
scrap=webdriver.Chrome(r"F:\chromedriver.exe")

In [113]:
scrap.get('https://www.naukri.com/')

In [114]:
search_feild_designation=scrap.find_element_by_class_name("suggestor-input")
search_feild_designation.send_keys("Data Scientist")

In [115]:
search_button=scrap.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [117]:
filter_salary=scrap.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
filter_salary.click()

In [118]:
place=scrap.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[3]/label/p/span[1]')
place.click()

In [119]:
job=[]
company=[]
location=[]
experience=[]

In [120]:
titles_tag=scrap.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tag:
    title=i.text
    job.append(title)

In [121]:
company_tags=scrap.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    x=i.text
    company.append(x)

In [122]:
experience_tag=scrap.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in experience_tag:
    x=i.text
    experience.append(x)

In [123]:
locations=scrap.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in locations:
    x=i.text
    location.append(x)

In [124]:
zipped = list(zip(job,company[0:10],location[0:10],experience[0:10]))
df = pd.DataFrame(zipped, columns=['Job Role', 'Company', 'Location','Experience'])
df.to_csv('jobs_datascience_delhi.csv')

Jobs=pd.read_csv("jobs_datascience_delhi.csv")

Jobs

,Unnamed: 0,Job Role,Company,Location,Experience
0,0,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",2-7 Yrs
1,1,Data Scientist - Machine learning AI,Teq Analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-8 Yrs
2,2,Data Scientist -Machine Learning with Python,Genpact,(WFH during Covid),1-4 Yrs
3,3,Data Scientist,SS Supply Chain Solutions Pvt. Ltd. (3SC),"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR",2-5 Yrs
4,4,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,(WFH during Covid),4-8 Yrs
5,5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",4-8 Yrs
6,6,Data Scientist - Predictive Analytics,Confidential,Noida,1-6 Yrs
7,7,Data Scientist - Internet Jobs - II,Jobs Territory,Noida,3-6 Yrs
8,8,Machine Learning Engineer | Data Engineer | Da...,Tidyquant (OPC) Private Limited,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",1-3 Yrs
9,9,Dot Net Developer,Nibha Infotech Private Limited,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-8 Yrs

In [125]:
scrap.close()

In [ ]:
# next question

In [45]:
## question 4  Sunglasses

In [208]:
flipkart=webdriver.Chrome(r"F:\chromedriver.exe")
    
flipkart.get('https://www.flipkart.com/')

In [209]:
product=flipkart.find_element_by_class_name("_3704LK")
product.send_keys("sunglasses")
    
search=flipkart.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()
    
brand=[]
price=[]
description=[]

In [128]:
brand_tag=flipkart.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    title=i.text
    brand.append(title)

price_tag=flipkart.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    title=i.text
    price.append(title)

description_tag=flipkart.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description_tag:
    title=i.text
    description.append(title)

In [129]:
search=flipkart.find_element_by_class_name("_1LKTO3")
search.click()

In [130]:
brand_tag=flipkart.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    title=i.text
    brand.append(title)

price_tag=flipkart.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    title=i.text
    price.append(title)

description_tag=flipkart.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description_tag:
    title=i.text
    description.append(title)

In [131]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [132]:
brand_tag=flipkart.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    title=i.text
    brand.append(title)

price_tag=flipkart.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    title=i.text
    price.append(title)

description_tag=flipkart.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description_tag:
    title=i.text
    description.append(title)

In [133]:
zipped = list(zip(brand[0:100],price[0:100],description[0:100]))
df = pd.DataFrame(zipped, columns=['Brand', 'Price','Description'])
df.to_csv('Sunglasses.csv')

Glasses=pd.read_csv("Sunglasses.csv")

Glasses

,Unnamed: 0,Brand,Price,Description
0,0,Rich Club,₹375,"UV Protection, Polarized Round Sunglasses (50)"
1,1,Ray-Ban,"₹9,599",Gradient Round Sunglasses (54)
2,2,Mi,₹649,Polarized Aviator Sunglasses (Free Size)
3,3,SRPM,₹199,UV Protection Wayfarer Sunglasses (50)
4,4,Fastrack,₹639,UV Protection Rectangular Sunglasses (Free Size)
...,...,...,...,...
95,95,Ray-Ban,"₹8,429",UV Protection Oval Sunglasses (49)
96,96,PIRASO,₹272,UV Protection Rectangular Sunglasses (52)
97,97,Fastrack,₹599,"Gradient, UV Protection Wayfarer Sunglasses (F..."
98,98,ROZZETTA CRAFT,₹287,UV Protection Rectangular Sunglasses (Free Size)
99,99,ROZZETTA CRAFT,₹359,UV Protection Round Sunglasses (Free Size)

In [134]:
flipkart.close()

In [ ]:
# next question

In [ ]:
###question 5 Iphone 11

In [11]:
flipkart=webdriver.Chrome(r"F:\chromedriver.exe")
    
flipkart.get('https://www.flipkart.com/')

In [12]:
product=flipkart.find_element_by_class_name("_3704LK")
product.send_keys("iphone 11")
    
search=flipkart.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()
    
rating=[]
review_summary=[]
full_review=[]

In [13]:
iphone=flipkart.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]')
iphone.click()

In [20]:
flipkart.get('https://www.flipkart.com/apple-iphone-11-purple-128-gb/product-reviews/itmb7ca0b05522ff?pid=MOBFWQ6BEHFXGXGB&lid=LSTMOBFWQ6BEHFXGXGBMVHGLV&marketplace=FLIPKART')

In [21]:
rating_tag=flipkart.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    R=i.text
    rating.append(R)

review_tag=flipkart.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    r=i.text
    review_summary.append(r)

full_review_tag=flipkart.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in full_review_tag:
    rev=i.text
    full_review.append(rev)

In [24]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [27]:
def scratch():
        rating_tag=flipkart.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating_tag:
            R=i.text
            rating.append(R)

        review_tag=flipkart.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in review_tag:
            r=i.text
            review_summary.append(r)

        full_review_tag=flipkart.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for i in full_review_tag:
            rev=i.text
            full_review.append(rev)

In [28]:
scratch()

In [29]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [30]:
scratch()

In [31]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [32]:
scratch()

In [33]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [34]:
scratch()

In [35]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [36]:
scratch()

In [37]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [38]:
scratch()

In [39]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [40]:
scratch()

In [41]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [42]:
scratch()

In [43]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [45]:
scratch()

In [46]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [47]:
scratch()

In [48]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [50]:
compose = list(zip(rating[0:100],review_summary[0:100],full_review[0:100]))
df = pd.DataFrame(compose, columns=['Rating', 'Review_Summary','Full_Review'])
df.to_csv('Iphone.csv')

Iphone=pd.read_csv("Iphone.csv")

Iphone

,Unnamed: 0,Rating,Review_Summary,Full_Review
0,0,5,Simply awesome,Really satisfied with the Product I received.....
1,1,5,Best in the market!,Great iPhone very snappy experience as apple k...
2,2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...,...
95,95,5,Best in the market!,What a camera .....just awesome ..you can feel...
96,96,5,Perfect product!,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,98,5,Fabulous!,So far it’s been an AMAZING experience coming ...
99,99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

In [51]:
flipkart.close()

In [ ]:
##############next Question############

In [2]:
### question 6 SNEAKER

In [135]:
flipkart=webdriver.Chrome(r"F:\chromedriver.exe")
    
flipkart.get('https://www.flipkart.com/')

In [136]:
product=flipkart.find_element_by_class_name("_3704LK")
product.send_keys("sneaker")
    
search=flipkart.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()
    
brand=[]
price=[]
description=[]

In [137]:
brand_tag=flipkart.find_elements_by_xpath("//div[@class='_2WkVRV']")
for j in brand_tag:
    title=j.text
    brand.append(title)

price_tag=flipkart.find_elements_by_xpath("//div[@class='_30jeq3']")
for k in price_tag:
        title=k.text
        price.append(title)

description_tag=flipkart.find_elements_by_xpath("//a[@class='IRpwTa']")
for l in description_tag:
    title=l.text
    description.append(title)

In [138]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [139]:
brand_tag=flipkart.find_elements_by_xpath("//div[@class='_2WkVRV']")
for j in brand_tag:
    title=j.text
    brand.append(title)

price_tag=flipkart.find_elements_by_xpath("//div[@class='_30jeq3']")
for k in price_tag:
        title=k.text
        price.append(title)

description_tag=flipkart.find_elements_by_xpath("//a[@class='IRpwTa']")
for l in description_tag:
    title=l.text
    description.append(title)

In [140]:
Next=flipkart.find_element_by_class_name("_1LKTO3")
Next.click()

In [141]:
brand_tag=flipkart.find_elements_by_xpath("//div[@class='_2WkVRV']")
for j in brand_tag:
    title=j.text
    brand.append(title)

price_tag=flipkart.find_elements_by_xpath("//div[@class='_30jeq3']")
for k in price_tag:
        title=k.text
        price.append(title)

description_tag=flipkart.find_elements_by_xpath("//a[@class='IRpwTa']")
for l in description_tag:
    title=l.text
    description.append(title)

In [142]:
compose = list(zip(brand[0:100],price[0:100],description[0:100]))
df = pd.DataFrame(compose, columns=['Brand', 'Price','Description'])
df.to_csv('Sneaker.csv')

Sneaker=pd.read_csv("Sneaker.csv")

Sneaker

,Unnamed: 0,Brand,Price,Description
0,0,Robbie jones,₹379,Casual Sneakers White Shoes For Men Sneakers F...
1,1,corsac,₹499,STYLISH MENS BLACK SNEAKER Sneakers For Men
2,2,HOTSTYLE,₹245,Sneakers For Men
3,3,ASTEROID,₹519,Wings Print Premium Fancy Stylish Fashion Snea...
4,4,ZF Klub,₹363,Sneakers For Men
...,...,...,...,...
66,66,PUMA,"₹2,089",Sneakers For Men
67,67,luxury fashion,₹404,KING PRO Sneakers For Men
68,68,U.S. POLO ASSN.,"₹1,295",STR2 Sneakers For Men
69,69,aadi,₹299,Series 7 Sneakers For Men
70,70,CLYMB,₹519,Sneakers For Men

In [143]:
flipkart.close()

In [ ]:
# next question

In [144]:
### question 7 ## myntra

In [145]:
myntra=webdriver.Chrome(r"F:\chromedriver.exe")
    
myntra.get('https://www.myntra.com/shoes')
    
colour=myntra.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/span[1]')
colour.click()

In [146]:
price=myntra.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price.click()

brand=[]
price=[]
description=[]

In [147]:
brand_tag=myntra.find_elements_by_xpath("//h3[@class='product-brand']")
for j in brand_tag:
    title=j.text
    brand.append(title)

price_tag=myntra.find_elements_by_xpath("//div[@class='product-price']")
for k in price_tag:
        title=k.text
        price.append(title)

description_tag=myntra.find_elements_by_xpath("//h4[@class='product-product']")
for l in description_tag:
    title=l.text
    description.append(title)

In [148]:
Next=myntra.find_element_by_class_name("pagination-arrowRight")
Next.click()

In [149]:
brand_tag=myntra.find_elements_by_xpath("//h3[@class='product-brand']")
for j in brand_tag:
    title=j.text
    brand.append(title)

price_tag=myntra.find_elements_by_xpath("//div[@class='product-price']")
for k in price_tag:
        title=k.text
        price.append(title)

description_tag=myntra.find_elements_by_xpath("//h4[@class='product-product']")
for l in description_tag:
    title=l.text
    description.append(title)

In [150]:
Shoe = list(zip(brand[0:100],price[0:100],description[0:100]))
df = pd.DataFrame(Shoe, columns=['Brand', 'Price','Description'])
df.to_csv('myntra.csv')

shoe=pd.read_csv("myntra.csv")

shoe

,Unnamed: 0,Brand,Price,Description
0,0,Skechers,Rs. 8499,Men Go Walk 5 Walking Shoes
1,1,UNDER ARMOUR,Rs. 7649Rs. 8999(15% OFF),Men UA Charged Breeze Training
2,2,Skechers,Rs. 9499,Men ENIGMA Running Shoes
3,3,Nike,Rs. 10495,Women Pegasus 39 Running Shoes
4,4,Puma,Rs. 9999,Men Running Shoes
...,...,...,...,...
95,95,Cole Haan,Rs. 11999,Men GENERATION ZEROGRAND STITCHLITE
96,96,Geox,Rs. 13990,Men Solid Slip-On Sneakers
97,97,J.FONTINI,Rs. 7990,Men Textured Leather Loafers
98,98,Geox,Rs. 9990,Men Leather Formal Slip-Ons
99,99,Clarks,Rs. 9999,Men Solid Formal Leather Derbys

In [151]:
myntra.close()

In [82]:
####### next question

In [83]:
##question 8 amazon

In [84]:
amazon=webdriver.Chrome(r"F:\chromedriver.exe")
    
amazon.get('https://www.amazon.in/')

In [85]:
product=amazon.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys("laptop")

In [86]:
search=amazon.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [87]:
filter_=amazon.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
filter_.click()

In [208]:
title=[]
rating=[]
price=[]

In [209]:
tag=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for j in tag:
    brand=j.text
    title.append(brand)

In [210]:
price_tag=amazon.find_elements_by_xpath("//span[@class='a-price-whole']")
for k in price_tag:
        p=k.text
        price.append(p)

In [211]:
hover=amazon.find_element_by_xpath("//a[@class='a-popover-trigger a-declarative']")
hover.click()

In [212]:
a=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for rate in a:
    print(rate.text)
    rating.append(rate.text)

4 out of 5

In [214]:
hover=amazon.find_element_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a')
hover.click()

In [215]:
a=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for rate in a:
    print(rate.text)
    rating.append(rate.text)

4.3 out of 5

In [218]:
# 3rd laptop rating
hover=amazon.find_element_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[4]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a')
hover.click()

In [219]:
description_tag=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for l in description_tag:
    print(l.text)
    rating.append(l.text)

3.1 out of 5

In [222]:
# 4th laptop rating
hover=amazon.find_element_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[6]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a')
hover.click()

In [223]:
description_tag=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for l in description_tag:
    rating.append(l.text)

In [224]:
# 5th laptop rating
hover=amazon.find_element_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[7]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a')
hover.click()

In [225]:
description_tag=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for l in description_tag:
    print(l.text)
    rating.append(l.text)

4.5 out of 5

In [228]:
# 6th laptop rating
hover=amazon.find_element_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[8]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a')
hover.click()

In [229]:
description_tag=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for l in description_tag:
    print(l.text)
    rating.append(l.text)

4.2 out of 5

In [230]:
# 7th laptop rating
hover=amazon.find_element_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[9]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a')
hover.click()

In [231]:
description_tag=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for l in description_tag:
    rating.append(l.text)
    print(l.text)

3.5 out of 5

In [232]:
# 8th laptop rating
hover=amazon.find_element_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[10]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a')
hover.click()

In [233]:

description_tag=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for l in description_tag:
    rating.append(l.text)

In [235]:
# 9th laptop rating
hover=amazon.find_element_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[11]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a')
hover.click()

In [236]:

description_tag=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for l in description_tag:
    rating.append(l.text)
    print(l.text)

4.3 out of 5

In [237]:
# 10th laptop rating
hover=amazon.find_element_by_xpath('//*[@id="search"]/div[1]/div[1]/div/span[3]/div[2]/div[12]/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a')
hover.click()

In [238]:

description_tag=amazon.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for l in description_tag:
    rating.append(l.text)

In [242]:
for i in range(len(rating)):
    print(i)
    print(rating[i])

0

1

2

3

4

5

6

7

8

9
4 out of 5
10

11

12
4.3 out of 5
13

14

15

16

17

18

19

20

21

22

23

24

25

26

27

28

29

30

31

32

33

34
3.1 out of 5
35

36

37

38

39

40

41

42

43

44

45

46
4.5 out of 5
47

48

49

50

51

52

53

54

55

56

57

58
4.5 out of 5
59

60

61

62

63

64

65

66

67

68

69

70

71

72

73

74

75

76

77

78

79

80
4.2 out of 5
81

82

83

84

85

86

87

88

89

90

91

92

93

94

95

96
3.5 out of 5
97

98

99

100

101

102

103
3.7 out of 5
104

105

106

107

108

109

110

111

112

113

114

115
4.3 out of 5
116

117

118

119

120

121

122

123

124

125

126

127
5 out of 5
128

129

In [243]:
Rating=[]
list1=[9,12,34,46,58,80,96,103,115,127]
for i in list1:
    Rating.append(rating[i])
    
Rating

['4 out of 5',
 '4.3 out of 5',
 '3.1 out of 5',
 '4.5 out of 5',
 '4.5 out of 5',
 '4.2 out of 5',
 '3.5 out of 5',
 '3.7 out of 5',
 '4.3 out of 5',
 '5 out of 5']

In [244]:
laptop = list(zip(title[0:10],price[0:10],Rating[0:10]))
df = pd.DataFrame(laptop, columns=['Brand', 'Price','Rating'])
df.to_csv('Laptop.csv')

Laptop=pd.read_csv("Laptop.csv")

Laptop

,Unnamed: 0,Brand,Price,Rating
0,0,Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...,"75,309",4 out of 5
1,1,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...","57,490",4.3 out of 5
2,2,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,"79,990",3.1 out of 5
3,3,LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...,"88,490",4.5 out of 5
4,4,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...","83,990",4.5 out of 5
5,5,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"81,490",4.2 out of 5
6,6,HP Pavilion 15 12th Gen Intel Core i7 16GB SDR...,"89,791",3.5 out of 5
7,7,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,"84,490",3.7 out of 5
8,8,LG Gram 14 Intel Evo 11th Gen i7 Thin & Light...,"84,490",4.3 out of 5
9,9,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,"86,990",5 out of 5

In [81]:
amazon.close()

In [ ]:
# next question

In [1]:
### question 9 Ambition Box

In [2]:
ambition=webdriver.Chrome(r"F:\chromedriver.exe")
    
ambition.get('https://www.ambitionbox.com/')

In [3]:
Job=ambition.find_element_by_xpath("//a[@class='link jobs']")
Job.click()

In [4]:
product=ambition.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
product.send_keys("Data Scientist")

In [5]:
search=ambition.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search.click()

In [6]:
Location=ambition.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
Location.click()

In [7]:
product=ambition.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
product.send_keys("Noida")

In [8]:
Location=ambition.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
Location.click()

In [21]:
Name=[]
rating=[]
Days=[]
Job_role=[]

In [22]:
brand_tag=ambition.find_elements_by_xpath("//p[@class='company body-medium']")
for j in brand_tag:
    brand=j.text
    Name.append(brand)

In [24]:
Job_role_tag=ambition.find_elements_by_xpath("//a[@class='title noclick']")
for job in Job_role_tag:
    brand=job.text
    Job_role.append(brand)

In [29]:
days_ago=ambition.find_elements_by_xpath("//span[@class='body-small-l']")
for k in days_ago:
        p=k.text
        Days.append(p)

In [36]:
day=[]
for length in range(10):
    day.append(Days[2*length])

In [31]:
Ratings=ambition.find_elements_by_xpath("//span[@class='body-small']")
for k in Ratings:
        p=k.text
        rating.append(p)

In [37]:

Job = list(zip(Name[0:10],rating[0:10],day[0:10],Job_role[0:10]))
df = pd.DataFrame(Job, columns=['Company','Rating','Posted','Job Title'])
df.to_csv('Data_science.csv')

Job=pd.read_csv("Data_science.csv")

Job

,Unnamed: 0,Company,Rating,Posted,Job Title
0,0,GENPACT India Private Limited,4.0,6d ago,Data Scientist
1,1,Optum Global Solutions (India) Private Limited,4.2,13d ago,Senior Data Scientist
2,2,GENPACT India Private Limited,4.0,12d ago,Data Scientist -Machine Learning with Python
3,3,Hcl Technologies Limited,3.9,16d ago,Data Scientist - OIP
4,4,EXL Services.com ( I ) Pvt. Ltd.,3.9,26d ago,Data Scientist- AI/ML- R&D
5,5,Paytm,3.7,8d ago,Data Science - Lead Data Scientist
6,6,Om Software Internet Solutions Private Limited,4.5,17d ago,Data Scientist (Python) Immediate Joiners
7,7,Paytm,3.7,26d ago,Data Scientist - Associate Vice President
8,8,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3.3,14d ago,Data Scientist - MIND Infotech
9,9,Ashkom Media India Private Limited,3.5,12d ago,Data Scientist

In [ ]:
ambition.close()

In [ ]:
# next question

In [29]:
### question 10 ambition _Salary comparision

In [43]:
ambition=webdriver.Chrome(r"F:\chromedriver.exe")
    
ambition.get('https://www.ambitionbox.com/')

In [44]:
salary=ambition.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary.click()

In [45]:
product=ambition.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
product.send_keys("Data Scientist")

In [46]:
search=ambition.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
search.click()

In [63]:
Name=[]
average=[]
maximum=[]
minimum=[]
experience=[]
record=[]

In [64]:
average_tag=ambition.find_elements_by_xpath("//p[@class='averageCtc']")
for j in average_tag:
    a=j.text
    average.append(a)

In [65]:
salary=[]
salary_tag=ambition.find_elements_by_xpath("//div[@class='value body-medium']")
for j in salary_tag:
    b=j.text
    salary.append(b)

In [66]:
for i in range(len(salary)):
    a=salary[i]
    if i%2==0:
        minimum.append(a)
    elif i%2==1:
        maximum.append(a)

In [67]:
values=[]
tag=ambition.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for j in tag:
    d=j.text
    values.append(d)

In [68]:
for i in range(10):
    values[i]=values[i].split("\n")

In [69]:
for i in range(10):
    experience.append(values[i][2])

In [70]:
company=[]
company_tag=ambition.find_elements_by_xpath("//div[@class='name']")
for j in company_tag:
    d=j.text
    company.append(d)
for i in range(10):
    company[i]=company[i].split("\n")

In [71]:
for i in range(10):
    Name.append(company[i][0])

In [73]:
record_tag=ambition.find_elements_by_xpath("//div[@class='name']/span")
for j in record_tag:
    e=j.text
    record.append(e)

In [74]:

compare = list(zip(Name[0:10],average[0:10],maximum[0:10],minimum[0:10],experience[0:10],record[0:10]))
df = pd.DataFrame(compare, columns=['Company','Average Salary','Maximum','Minimum','Experience','Based on'])
df.to_csv('Data_science_salary.csv')

comaparision=pd.read_csv("Data_science_salary.csv")

comaparision

,Unnamed: 0,Company,Average Salary,Maximum,Minimum,Experience,Based on
0,0,Walmart,₹ 30.2L,₹ 36.0L,₹ 25.0L,3 yrs exp,based on 12 salaries
1,1,Ab Inbev,₹ 20.6L,₹ 25.5L,₹ 15.0L,3-4 yrs exp,based on 33 salaries
2,2,American Express,₹ 19.9L,₹ 25.0L,₹ 14.1L,4 yrs exp,based on 10 salaries
3,3,ZS,₹ 16.7L,₹ 22.0L,₹ 11.0L,2 yrs exp,based on 15 salaries
4,4,Optum,₹ 16.1L,₹ 22.6L,₹ 11.0L,3-4 yrs exp,based on 33 salaries
5,5,Reliance Jio,₹ 15.7L,₹ 26.2L,₹ 5.6L,3-4 yrs exp,based on 21 salaries
6,6,Fractal Analytics,₹ 15.4L,₹ 22.0L,₹ 10.0L,2-4 yrs exp,based on 83 salaries
7,7,Tiger Analytics,₹ 14.8L,₹ 20.0L,₹ 9.0L,2-4 yrs exp,based on 50 salaries
8,8,UnitedHealth,₹ 14.0L,₹ 21.1L,₹ 8.3L,2-4 yrs exp,based on 57 salaries
9,9,EXL Service,₹ 13.3L,₹ 21.0L,₹ 8.9L,4 yrs exp,based on 10 salaries

In [75]:
ambition.close()